@font-face {
    font-family: 'Meedori Bold';
    src: url('../fonts/meedori-sans-bold.ttf');
}
@font-face {
    font-family: 'Meedori Light';
    src: url('../fonts/meedori-sans-light.ttf');
}
@font-face {
    font-family: 'Meedori';
    src: url('../fonts/meedori-sans-regular.ttf');
}

body{
    font-family: 'Meedori';
    margin: 0;
    padding: 0;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
}

.heroNav{
    display: flex;
    flex-direction: column;
    background-image: url('../images/brickShadow.jpg');
    background-size: cover; //contain might be better
    color: #f9f6ee;
}

.nav{
    display: flex;
    justify-content: space-between; //try space around or space between
    align-items: center;
    padding: 15px 150px;
    .brand{
        font-size: 32px;
        font-family: 'Meedori Bold';
    }
    .links ul{
        display: flex;
        gap: 30px;
        list-style-type: none;
        z-index: 10;
        cursor: pointer;
        li{
            &:active{
                transform: scale(.95);
            }
        }
    }
}

.hero{
    margin: -35px 0;
    display: flex;
    align-items: center;
    padding: 150px;
    gap: 100px;
    .heroDesc{
        width: 450px;
        font-family: 'Meedori Bold';
        h1{
            font-size: 48px;
        }
        button{
            width: 120px;
            height: 40px;
            border: none;
            border-radius: 8px;
            background-color: #2a7fff;
            font-family: 'Meedori Bold';
            color: #f9f6ee;
            box-shadow: 2px 2px 3px #555;
            cursor: pointer;
            &:active{
                transform: scale(.98);
            }
        }
    }
    .logo img{
        height: 450px;
    }
}
